body{
    margin: 0;
   font-weight: lighter;
   background-image: url("images/back.png");
   background-repeat: repeat;
   background-size:130%;
   background-position:center;
   background-attachment: fixed;
    
}
.task div {
    font-weight: lighter;
    margin: 0;  
    height: 11em;
    width: 100%;
    background-color:rgba(139, 59, 6, 0.363);
}

.task img{
   width: 550px;
   margin-right: 10em;
   background-color: n;
}
.task ul{
    margin: 0;
    width: 100%;
    height: 1em;
    text-align: center;
    display: inline;
    
    
}
.task ul li a{
    text-decoration: none;
    color:black;
    
}
.task li{
    display: inline-block;
    font-size: 50px;
    margin-right:2em ;
    
   
}

.char{
    color: rgb(10, 10, 10);
    
}
.char h2{
    font-weight: lighter;
    font-size: 4em;
    margin: 0%;
    margin-left: 1em;
    background-color: rgba(139, 59, 6, 0.363);
    width: 15%;
    margin-top:1em ;
}
 

.char div {
    font-weight: lighter;
    margin: 0;
   // background-color: rgb(139, 59, 6, 0.144);
    height: 40emem;
    width: 100%;
}
.char ul{
    margin: 0;
    
    
}
 .char li{
    font-weight: lighter;
     margin-top: 1em;
     display: inline-block; 
     background-color:rgba(255, 254, 254, 0.438);
     height: 20em ;
     margin-left: 1.3em;
     
}
 .char li  img{
    width: 100%;
    
    
}
  .char li p{
    font-weight: lighter;
     margin: 0;
     font-size: 2em;
     text-align: center;
 }
 .char .mikasa p {
     font-size:1.9em ;
     
 }
 
 
 .char .bertholdt p{
     font-size: 1.95em;

}
.season h2{
    font-weight: lighter;
    font-size: 4em;
    margin: 0%;
    background-color: rgba(139, 59, 6, 0.363);
    width: 10.5%;
    margin-left: 1em;
    margin-top: 0.5em;
}
.season div{
    margin: 0;
   // background-color: rgb(104, 102, 102);
    height: 40emem;
    width: 100%;
}
.season ul{
    margin: 0;
    text-align: center;
}
.season li{
    width: 20em;
    display: inline-block;
    margin-right: 2.5em;
}
.season p{
    font-weight: lighter;
    margin: 0;
    font-size: 2em;
    text-align: center;
    background-color: rgba(255, 254, 254, 0.185);
}
.season img{
    margin-top: 1em;
    
}
h1:hover{
    font-weight: bold;
}
.season li a{
    color: black;
    background-color: rgba(255, 254, 254, 0.185);
    text-decoration: none;
}
.season li a:hover{
    font-weight:900 ;

}
.season li span:hover{
    font-weight:900 ;
}
 
.task div ul li:hover{
    font-weight: bold;
}
@media only screen and (max-width: 1450px){
    .task div{
        height: 20em;
        text-align: center;
    }
    .char h2{
        width: 40%;
    }
    .season h2{
        width: 30%;
    }
}
     

     
     
     
     
 
 
        
